<p id="notice"><%= notice %></p>

<h1>Distinctive Sign Has Students</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Distinctive sign</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @distinctive_sign_has_students.each do |distinctive_sign_has_student| %>
      <tr>
        <td><%= distinctive_sign_has_student.status %></td>
        <td><%= distinctive_sign_has_student.distinctive_sign %></td>
        <td><%= distinctive_sign_has_student.student %></td>
        <td><%= link_to 'Show', distinctive_sign_has_student %></td>
        <td><%= link_to 'Edit', edit_distinctive_sign_has_student_path(distinctive_sign_has_student) %></td>
        <td><%= link_to 'Destroy', distinctive_sign_has_student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Distinctive Sign Has Student', new_distinctive_sign_has_student_path %>
