<p id="notice"><%= notice %></p>

<h1>Generation Has Students</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Generation</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @generation_has_students.each do |generation_has_student| %>
      <tr>
        <td><%= generation_has_student.status %></td>
        <td><%= generation_has_student.generation %></td>
        <td><%= generation_has_student.student %></td>
        <td><%= link_to 'Show', generation_has_student %></td>
        <td><%= link_to 'Edit', edit_generation_has_student_path(generation_has_student) %></td>
        <td><%= link_to 'Destroy', generation_has_student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Generation Has Student', new_generation_has_student_path %>
