<%= form_with(model: congress_memory_has_student, local: true) do |form| %>
  <% if congress_memory_has_student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(congress_memory_has_student.errors.count, "error") %> prohibited this congress_memory_has_student from being saved:</h2>

      <ul>
      <% congress_memory_has_student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :congress_memory_has_student_status %>
  </div>

  <div class="field">
    <%= form.label :congress_memory_id %>
    <%= form.text_field :congress_memory_id, id: :congress_memory_has_student_congress_memory_id %>
  </div>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.text_field :student_id, id: :congress_memory_has_student_student_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
