<%= form_with(model: research_line, local: true) do |form| %>
  <% if research_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(research_line.errors.count, "error") %> prohibited this research_line from being saved:</h2>

      <ul>
      <% research_line.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :research_line_name %>
  </div>

  <div class="field">
    <%= form.label :line_coordinator %>
    <%= form.text_field :line_coordinator, id: :research_line_line_coordinator %>
  </div>

  <div class="field">
    <%= form.label :department_id %>
    <%= form.text_field :department_id, id: :research_line_department_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
