<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @research_line.name %>
</p>

<p>
  <strong>Line coordinator:</strong>
  <%= @research_line.line_coordinator %>
</p>

<p>
  <strong>Department:</strong>
  <%= @research_line.department %>
</p>

<%= link_to 'Edit', edit_research_line_path(@research_line) %> |
<%= link_to 'Back', research_lines_path %>
