<%= form_with(model: teacher_type, local: true) do |form| %>
  <% if teacher_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teacher_type.errors.count, "error") %> prohibited this teacher_type from being saved:</h2>

      <ul>
      <% teacher_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :teacher_type_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
