<p id="notice"><%= notice %></p>

<h1>Congress Memory Has Teachers</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Congress memory</th>
      <th>Teacher</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @congress_memory_has_teachers.each do |congress_memory_has_teacher| %>
      <tr>
        <td><%= congress_memory_has_teacher.status %></td>
        <td><%= congress_memory_has_teacher.congress_memory %></td>
        <td><%= congress_memory_has_teacher.teacher %></td>
        <td><%= link_to 'Show', congress_memory_has_teacher %></td>
        <td><%= link_to 'Edit', edit_congress_memory_has_teacher_path(congress_memory_has_teacher) %></td>
        <td><%= link_to 'Destroy', congress_memory_has_teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Congress Memory Has Teacher', new_congress_memory_has_teacher_path %>
