<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @congress_memory_has_teacher.status %>
</p>

<p>
  <strong>Congress memory:</strong>
  <%= @congress_memory_has_teacher.congress_memory %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @congress_memory_has_teacher.teacher %>
</p>

<%= link_to 'Edit', edit_congress_memory_has_teacher_path(@congress_memory_has_teacher) %> |
<%= link_to 'Back', congress_memory_has_teachers_path %>
