<p id="notice"><%= notice %></p>

<h1>Pub Art Has Teachers</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Pub art</th>
      <th>Teacher</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pub_art_has_teachers.each do |pub_art_has_teacher| %>
      <tr>
        <td><%= pub_art_has_teacher.status %></td>
        <td><%= pub_art_has_teacher.pub_art %></td>
        <td><%= pub_art_has_teacher.teacher %></td>
        <td><%= link_to 'Show', pub_art_has_teacher %></td>
        <td><%= link_to 'Edit', edit_pub_art_has_teacher_path(pub_art_has_teacher) %></td>
        <td><%= link_to 'Destroy', pub_art_has_teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pub Art Has Teacher', new_pub_art_has_teacher_path %>
