<%= form_with(model: thesis, local: true) do |form| %>
  <% if thesis.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(thesis.errors.count, "error") %> prohibited this thesis from being saved:</h2>

      <ul>
      <% thesis.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :thesis_title %>
  </div>

  <div class="field">
    <%= form.label :admission_date %>
    <%= form.datetime_select :admission_date, id: :thesis_admission_date %>
  </div>

  <div class="field">
    <%= form.label :exit_date %>
    <%= form.datetime_select :exit_date, id: :thesis_exit_date %>
  </div>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.text_field :student_id, id: :thesis_student_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
