<%= form_with(model: tech_dev_type, local: true) do |form| %>
  <% if tech_dev_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tech_dev_type.errors.count, "error") %> prohibited this tech_dev_type from being saved:</h2>

      <ul>
      <% tech_dev_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :tech_dev_type_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
