<p id="notice"><%= notice %></p>

<h1>Tech Dev Types</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tech_dev_types.each do |tech_dev_type| %>
      <tr>
        <td><%= tech_dev_type.type %></td>
        <td><%= link_to 'Show', tech_dev_type %></td>
        <td><%= link_to 'Edit', edit_tech_dev_type_path(tech_dev_type) %></td>
        <td><%= link_to 'Destroy', tech_dev_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tech Dev Type', new_tech_dev_type_path %>
