<%= form_with(model: pub_art_type, local: true) do |form| %>
  <% if pub_art_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pub_art_type.errors.count, "error") %> prohibited this pub_art_type from being saved:</h2>

      <ul>
      <% pub_art_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :pub_art_type_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
