<%= form_with(model: pub_chapter, local: true) do |form| %>
  <% if pub_chapter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pub_chapter.errors.count, "error") %> prohibited this pub_chapter from being saved:</h2>

      <ul>
      <% pub_chapter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :isbn %>
    <%= form.text_field :isbn, id: :pub_chapter_isbn %>
  </div>

  <div class="field">
    <%= form.label :chapter_title %>
    <%= form.text_field :chapter_title, id: :pub_chapter_chapter_title %>
  </div>

  <div class="field">
    <%= form.label :publisher %>
    <%= form.text_field :publisher, id: :pub_chapter_publisher %>
  </div>

  <div class="field">
    <%= form.label :edition_number %>
    <%= form.number_field :edition_number, id: :pub_chapter_edition_number %>
  </div>

  <div class="field">
    <%= form.label :chapter_number %>
    <%= form.number_field :chapter_number, id: :pub_chapter_chapter_number %>
  </div>

  <div class="field">
    <%= form.label :start_page %>
    <%= form.number_field :start_page, id: :pub_chapter_start_page %>
  </div>

  <div class="field">
    <%= form.label :end_page %>
    <%= form.number_field :end_page, id: :pub_chapter_end_page %>
  </div>

  <div class="field">
    <%= form.label :evidence %>
    <%= form.text_field :evidence, id: :pub_chapter_evidence %>
  </div>

  <div class="field">
    <%= form.label :message_id %>
    <%= form.text_field :message_id, id: :pub_chapter_message_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
