<%= form_with(model: sw_dev_has_student, local: true) do |form| %>
  <% if sw_dev_has_student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sw_dev_has_student.errors.count, "error") %> prohibited this sw_dev_has_student from being saved:</h2>

      <ul>
      <% sw_dev_has_student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :sw_dev_has_student_status %>
  </div>

  <div class="field">
    <%= form.label :sw_dev_id %>
    <%= form.text_field :sw_dev_id, id: :sw_dev_has_student_sw_dev_id %>
  </div>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.text_field :student_id, id: :sw_dev_has_student_student_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
