<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @sw_dev_has_student.status %>
</p>

<p>
  <strong>Sw dev:</strong>
  <%= @sw_dev_has_student.sw_dev %>
</p>

<p>
  <strong>Student:</strong>
  <%= @sw_dev_has_student.student %>
</p>

<%= link_to 'Edit', edit_sw_dev_has_student_path(@sw_dev_has_student) %> |
<%= link_to 'Back', sw_dev_has_students_path %>
