<p id="notice"><%= notice %></p>

<p>
  <strong>Issn printed:</strong>
  <%= @pub_art.issn_printed %>
</p>

<p>
  <strong>Issn electronic:</strong>
  <%= @pub_art.issn_electronic %>
</p>

<p>
  <strong>Magazine name:</strong>
  <%= @pub_art.magazine_name %>
</p>

<p>
  <strong>Article title:</strong>
  <%= @pub_art.article_title %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @pub_art.grade %>
</p>

<p>
  <strong>Publication date:</strong>
  <%= @pub_art.publication_date %>
</p>

<p>
  <strong>Index:</strong>
  <%= @pub_art.index %>
</p>

<p>
  <strong>Magazine number:</strong>
  <%= @pub_art.magazine_number %>
</p>

<p>
  <strong>Magazine volume:</strong>
  <%= @pub_art.magazine_volume %>
</p>

<p>
  <strong>Year:</strong>
  <%= @pub_art.year %>
</p>

<p>
  <strong>Start page:</strong>
  <%= @pub_art.start_page %>
</p>

<p>
  <strong>End page:</strong>
  <%= @pub_art.end_page %>
</p>

<p>
  <strong>Pub art type:</strong>
  <%= @pub_art.pub_art_type %>
</p>

<p>
  <strong>Evidence:</strong>
  <%= @pub_art.evidence %>
</p>

<p>
  <strong>Acceptance letter:</strong>
  <%= @pub_art.acceptance_letter %>
</p>

<p>
  <strong>Message:</strong>
  <%= @pub_art.message %>
</p>

<%= link_to 'Edit', edit_pub_art_path(@pub_art) %> |
<%= link_to 'Back', pub_arts_path %>
