<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @pub_chapter_has_teacher.status %>
</p>

<p>
  <strong>Pub chapter:</strong>
  <%= @pub_chapter_has_teacher.pub_chapter %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @pub_chapter_has_teacher.teacher %>
</p>

<%= link_to 'Edit', edit_pub_chapter_has_teacher_path(@pub_chapter_has_teacher) %> |
<%= link_to 'Back', pub_chapter_has_teachers_path %>
