<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @course_has_student.status %>
</p>

<p>
  <strong>Course:</strong>
  <%= @course_has_student.course %>
</p>

<p>
  <strong>Student:</strong>
  <%= @course_has_student.student %>
</p>

<%= link_to 'Edit', edit_course_has_student_path(@course_has_student) %> |
<%= link_to 'Back', course_has_students_path %>
