<%= form_with(model: stay_has_teacher, local: true) do |form| %>
  <% if stay_has_teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stay_has_teacher.errors.count, "error") %> prohibited this stay_has_teacher from being saved:</h2>

      <ul>
      <% stay_has_teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :stay_has_teacher_status %>
  </div>

  <div class="field">
    <%= form.label :stay_id %>
    <%= form.text_field :stay_id, id: :stay_has_teacher_stay_id %>
  </div>

  <div class="field">
    <%= form.label :teacher_id %>
    <%= form.text_field :teacher_id, id: :stay_has_teacher_teacher_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
