<%= form_with(model: tutorial_committee, local: true) do |form| %>
  <% if tutorial_committee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tutorial_committee.errors.count, "error") %> prohibited this tutorial_committee from being saved:</h2>

      <ul>
      <% tutorial_committee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :tutorial_committee_name %>
  </div>

  <div class="field">
    <%= form.label :period %>
    <%= form.datetime_select :period, id: :tutorial_committee_period %>
  </div>

  <div class="field">
    <%= form.label :teacher_type_id %>
    <%= form.text_field :teacher_type_id, id: :tutorial_committee_teacher_type_id %>
  </div>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.text_field :student_id, id: :tutorial_committee_student_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
