<%= form_with(model: pub_chapter_has_student, local: true) do |form| %>
  <% if pub_chapter_has_student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pub_chapter_has_student.errors.count, "error") %> prohibited this pub_chapter_has_student from being saved:</h2>

      <ul>
      <% pub_chapter_has_student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :pub_chapter_has_student_status %>
  </div>

  <div class="field">
    <%= form.label :pub_chapter_id %>
    <%= form.text_field :pub_chapter_id, id: :pub_chapter_has_student_pub_chapter_id %>
  </div>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.text_field :student_id, id: :pub_chapter_has_student_student_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
